.container {
  padding: 16px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.header {
  color: #3f51b5;
  font-weight: bold;
}

.logout-button {
  margin-left: 16px; /* Adjust margin as needed */
}
